.main_form {
  display: flex;
  flex-direction: row;
  background-color: rgb(204, 168, 237);
  margin : 0 auto;
  margin-top : 40px;
  width: 1000px;
  justify-content: space-around;
  box-sizing : border-box;
}

.section_form {
  background-color: yellow;
  width: 240px;
}

.new_input_form {
  display: flex;
  flex-direction: column;
  position : relative;
}

.new_btn {
  background-color: aqua;
  text-align: left;
  width : 240px;
  padding : 3px 0px 3px 10px;
  border : none;
  color : #707070;
}

.new_btn:hover {
  background-color : rgba(156, 155, 155, 0.666);
}